.search-bar {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__input {
    @extend %text-input;
    width: 100%;
    height: 24px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__button {
    margin: 10px;
    margin-left: 0;
    height: 40px;
    min-width: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-image: url('../images/search-btn.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $main-grey !important;
  }

  &__results {
    position: absolute;
    width: 100%;
    min-height: 60px;
    border-radius: 30px;
    background-color: white;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    @extend %shadow-default;

    &_visible {
      visibility: visible;
    }
  }

  &__item {
    width: 95%;
    min-height: 38px;
    border-radius: 30px;
    margin: 5px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &_not-found {
      color: $main-grey;
      @extend %text-input;
    }
  }

  &__item:hover {
    background-color: $main-blue;
    color: white;
  }

  &__item-night:hover {
    background-color: $main-nightblue;
    color: white;
  }
}
