@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$main-powderblue: #bfdce8;
$main-blue: #90caf9;
$main-black: #212121;
$main-grey: #9e9e9e;
$light-grey: #fafafa;
$main-nightblue: #2a344b;

%text-h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 32px;
  line-height: 38px;
}

%text-h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 18px;
  line-height: 27px;
}

%text-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 16px;
  line-height: 24px;
}

%shadow-default {
  background: #c4c4c4;
  box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  @extend %text-h1;
  text-align: center;
}

h2 {
  @extend %text-h2;
}

.text-grey {
  color: $main-grey;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @extend %text-input;
}

.hero-section {
  min-height: 426px;
  background-image: url("../images/hero-bg.svg");
  margin-bottom: 70px;
  @extend %shadow-default;

  &__container {
    margin: 0 auto;
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.search-bar {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &__input {
    @extend %text-input;
    width: 100%;
    height: 24px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__button {
    margin: 10px;
    margin-left: 0;
    height: 40px;
    min-width: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $main-blue;
    background-image: url("../images/search-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $main-grey;
  }

  &__results {
    position: absolute;
    width: 100%;
    min-height: 60px;
    border-radius: 30px;
    background-color: white;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    @extend %shadow-default;

    &_visible {
      visibility: visible;
    }
  }

  &__item {
    width: 570px;
    min-height: 38px;
    border-radius: 30px;
    margin: 5px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &_not-found {
      color: $main-grey;
      @extend %text-input;
    }
  }

  &__item:hover {
    background-color: $main-blue;
    color: white;
  }
}

.weather-details {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;

  &__container {
    min-height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__current {
    min-height: 120px;
    border-bottom: 1px solid $main-powderblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__weather {
    display: flex;
  }

  &__image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 30px;
    margin-right: 20px;
  }

  &__description > * {
    margin-bottom: 10px;
  }

  &__location-name {
    margin-bottom: 10px;
    text-align: right;
    color: $main-black;
  }

  &__date {
    text-align: right;
  }

  &__footer {
    height: ((96 - 20) / (236 - 40)) * 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
  }

  &__vertical-line {
    width: 1px;
    height: 56px;
    background-color: $main-powderblue;
  }
}

.popular-cities {
  margin-bottom: 60px;

  &__list {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.popular-city-item {
  width: 220px;
  height: 220px;
  border-radius: 30px;
  margin: 0 20px 40px 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;

  &__button {
    width: 200px;
    height: 36px;
    background: #ffffff;
    border-radius: 30px;
    margin-bottom: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_new-york {
    background-image: url("../images/popular-city-item/new-york.png");
  }

  &_london {
    background-image: url("../images/popular-city-item/london.png");
  }

  &_dubai {
    background-image: url("../images/popular-city-item/dubai.png");
  }

  &_paris {
    background-image: url("../images/popular-city-item/paris.png");
  }
}

.faq {
  margin-bottom: 120px;

  h1 {
    margin-bottom: 35px;
  }
}

.question {
  @extend %text-input;
  margin: 0 auto 20px auto;
  max-width: 1000px;

  & > div {
    background-color: $light-grey;
    border-radius: 30px;
    padding: 15px 20px;
  }

  &__header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 9.12px;
    color: $main-black;
  }

  &__icon_opened {
    background-image: url("../images/question-shown.svg");
  }

  &__icon_closed {
    background-image: url("../images/question-hidden.svg");
  }

  &__body {
    display: none;
  }

  &__body_displayed {
    display: block;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $light-grey;
}
