@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 18px;
  line-height: 27px;
}

.container, .search-bar__input, .search-bar__item_not-found, .question {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 16px;
  line-height: 24px;
}

.hero-section, .search-bar__results {
  background: #c4c4c4;
  -webkit-box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.1);
          box-shadow: 0px 5px 10px rgba(33, 33, 33, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.text-grey {
  color: #9e9e9e;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section {
  min-height: 426px;
  background-image: url("../images/hero-bg.svg");
  margin-bottom: 70px;
}

.hero-section__container {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.search-bar {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-bar__input {
  width: 100%;
  height: 24px;
  margin-left: 20px;
  padding: 0;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-bar__button {
  margin: 10px;
  margin-left: 0;
  height: 40px;
  min-width: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #90caf9;
  background-image: url("../images/search-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search-bar__button:hover {
  background-color: #9e9e9e;
}

.search-bar__results {
  position: absolute;
  width: 100%;
  min-height: 60px;
  border-radius: 30px;
  background-color: white;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  visibility: hidden;
}

.search-bar__results_visible {
  visibility: visible;
}

.search-bar__item {
  width: 570px;
  min-height: 38px;
  border-radius: 30px;
  margin: 5px 0;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-bar__item_not-found {
  color: #9e9e9e;
}

.search-bar__item:hover {
  background-color: #90caf9;
  color: white;
}

.weather-details {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
}

.weather-details__container {
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-details__current {
  min-height: 120px;
  border-bottom: 1px solid #bfdce8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather-details__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-details__image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 30px;
  margin-right: 20px;
}

.weather-details__description > * {
  margin-bottom: 10px;
}

.weather-details__location-name {
  margin-bottom: 10px;
  text-align: right;
  color: #212121;
}

.weather-details__date {
  text-align: right;
}

.weather-details__footer {
  height: 38.77551%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

.weather-details__vertical-line {
  width: 1px;
  height: 56px;
  background-color: #bfdce8;
}

.popular-cities {
  margin-bottom: 60px;
}

.popular-cities__list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-city-item {
  width: 220px;
  height: 220px;
  border-radius: 30px;
  margin: 0 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popular-city-item__button {
  width: 200px;
  height: 36px;
  background: #ffffff;
  border-radius: 30px;
  margin-bottom: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-city-item_new-york {
  background-image: url("../images/popular-city-item/new-york.png");
}

.popular-city-item_london {
  background-image: url("../images/popular-city-item/london.png");
}

.popular-city-item_dubai {
  background-image: url("../images/popular-city-item/dubai.png");
}

.popular-city-item_paris {
  background-image: url("../images/popular-city-item/paris.png");
}

.faq {
  margin-bottom: 120px;
}

.faq h1 {
  margin-bottom: 35px;
}

.question {
  margin: 0 auto 20px auto;
  max-width: 1000px;
}

.question > div {
  background-color: #fafafa;
  border-radius: 30px;
  padding: 15px 20px;
}

.question__header {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question__icon {
  width: 16px;
  height: 9.12px;
  color: #212121;
}

.question__icon_opened {
  background-image: url("../images/question-shown.svg");
}

.question__icon_closed {
  background-image: url("../images/question-hidden.svg");
}

.question__body {
  display: none;
}

.question__body_displayed {
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #fafafa;
}
/*# sourceMappingURL=main.css.map */